/************ Universal Stuff **********/
body {
	margin:0;
	padding:0;
	background-color: #fff; 
	color: #333;

}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   90%;
}

body, ol, ul, td {
	margin:0;
	padding:0;
}

h1 {
	margin:0;
	padding: 15px 20px 10px;
}

h2 {
	margin:15px 0 5px 0;
	padding:0;
}

h3 {
	margin:0;
	padding:5px 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #333;text-decoration:none;padding:3px 5px; }
a:hover { color: #000; background-color:#abcdef; }

.hidden {
	display: none;
}

.top_grey_border {
	border-top:1px solid #bbb;
}

/************* Jon's General Stuff **********/

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

ul.inline li {
	display:inline;
}

/************* Header **************/

h1#header {
	color: #abcdef;
}

h1#page_title {
	color: #768ca3;
}

/************ Nav stuff **************/

ul#navigation {
	background-color: #eee;
	padding: 7px;
	border-top:1px dotted #bbb;
	border-bottom:1px dotted #bbb;
}

ul#navigation li {
	padding: 0 20px 0 20px;
}

#navigation a {
}

ul#navigation-tickets {
	background-color: #f3f3f3;
	padding: 5px 7px;
}

ul#navigation-tickets li {
	padding: 0 20px 0 20px;
}

/*********** Sidebar **************/
#sidebar {
	width: 270px;
	margin: 20px 30px 0 0;
}

.sidebox {
	border: 1px solid #ccc;
	background-color: #eee;
}

#sidebar h3 {
	margin: 0;
	padding: 10px 10px 0;
}

#sidebar p {
	margin: 0;
	padding: 5px 15px;
}


/*********** Content *************/
#content {
	margin-right: 300px;
	padding: 0 28px;
}

.paginate {
	border-top: 1px solid #ccc;
}

/*********** Tables *************/

.table {
	width: 100%;
}

.table th {
	font-size: .9em;
}

.table tr, .table td, .table {
	margin:0;
	padding:0;
	text-align: left;
	line-height: 22px;
}

.tableheader {
	background-color: #eee;
}

/*********** Show Page *************/

#ticket {
	margin: 20px 0 0 0;
	border: 1px solid #ccc;
}

.insideh4link {
	font-size: .8em;
	font-weight: normal;
}

#ticket h3 {
	background-color: #ccc;
}

#ticket p {
	padding: 0 10px;
}

#edit_tags {
	margin-right: 20px;
}

#notes h5 {
	margin:0;
	padding:.4em 0 .2em 0;
}

#notes p {
	margin:.2em .4em;
	padding:0;
}

.note {
	margin: 0;
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
}

.note:hover {
	background-color: #eee;
}

/************* User Controller *************/
#user-login-box {
	width: 400px;
	margin: 100px auto;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 20px;
}
