<h2>Scheduled Tickets</h2>
<table id="table-scheduled" class="table">
<%= render :partial => "tableheader" %>	
<% for @ticket in @tickets_scheduled %>
	<%= render :partial => "list" %>
<% end %>
</table>