<h2>Completed Tickets</h2>
<table id="table-completed" class="table">
<%= render :partial => "tableheader" %>	
<% for @ticket in @tickets_completed %>
	<%= render :partial => "list" %>
<% end %>
</table>