<h2>In-Progress Tickets</h2>
<table id="table-inprogress" class="table">
	<tr class='tableheader'>
		<th width="50%">Description</th>
		<th>Date Created</th>
		<th>Date Updated</th>
	</tr>	
<% for @ticket in @tickets_inprogress %>
	<%= render :partial => "list" %>
<% end %>
</table>