<%= form_tag :action => "add_note", :id => @ticket %>
	<textarea id="note_content" name="note[content]" rows="10" cols="60"></textarea>
	<%= hidden_field "note", "user_id", 'value' => session[:user].id %>
	<%= submit_tag "Add Note" %>
</form>