<% for note in @ticket.notes %>
	<div class="note">
		<h5><%= image_tag 'comment_blue.gif' %><%= @ticket.user.firstname %> said this on <%= note.created_at.strftime "%h %d" %> at <%= note.created_at.strftime "%r" %></h5>
		<p><%= note.content %></p>
	</div>
<% end %>
<br />
<p><%= image_tag 'comment_new.gif' %><a href="javascript:Effect.Combo('note_form2');">Add Note</a></p>
<div id="note_form2" style="display:none;">
	<%= render :partial => "note_form" %>
</div>
<br />
<br />