
<div id="search-all">
	<%= start_form_tag :action => 'search' %>
		<table class="addhorpadding">
			<tr>
				<td><%= text_field_tag 'query', params[:query], "accesskey" => "f" %></td>
				<td><%= submit_tag "Search" %></td>
			</tr>
		</table>
	<%= end_form_tag %>
</div>