<ul id="navigation-tickets" class="inline">
	<li>Total Archived: <%= @total_archived %></li>
</ul>
<%= flash_div :warning, :notice %>
<div id="content">
	<div id="list_pending" style=""><%= render :partial => "list_archived" %></div>
</div>