<ul id="navigation-tickets" class="inline">
	<li>You are in: <b>Edit Ticket</b></li>	
</ul>
<%= render :partial => "sidebar" %>
<div id="content">
	<h2>Editing ticket</h2>

	<%= start_form_tag :action => 'update', :id => @ticket %>
		<%= render :partial => "form" %>

	  <%= submit_tag 'Edit' %>
	<%= end_form_tag %>
</div>