<ul id="navigation-tickets" class="inline">
</ul>
<%= render :partial => "sidebar" %>
<div id="content">

	<%= start_form_tag :action => 'create' %>
		<%= render :partial => "form" %>

	  <%= submit_tag "Create" %>
	<%= end_form_tag %>
</div>