<ul id="navigation-tickets" class="inline">
</ul>
<%= flash_div :warning, :notice %>
<div id="content">
	<div id="ticket">
		<%= render :partial => "ticket_details" %>
	</div>
	
	<div id="notes">
		<%= render :partial => "notes" %>
	</div>
</div>